*~
~*
build*/
*kdev*
*.orig
*.swp
core*
.DS_Store
.Trashes
.vs/
CMakeSettings.json
*.txt.user
*.slxc
*.autosave
*.bak
*.mexw64
*.mexa64
slprj*
*.zip
*_ert_rtw
cache*
codegen*`

# A .gitignore for Keil projects.
# Taken mostly from http://www.keil.com/support/man/docs/uv4/uv4_b_filetypes.htm

# User-specific uVision files
#*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*

# Listing files
*.htm
*.i
*.lst
*.scr
*.map
# define exception below if needed


# Object and HEX files
*.axf
*.hex
*.d
*.crf
*.o

# Generated output files
**/RTE/*
**/obj/*

# Debugger files
# define exception below if needed
#*.ini
*.dbgconf
JLinkLog.txt
JLinkSettings.ini

# Other files
*.scvd
*.dep
*.bak
*.lnp

# Miscellaneous
*.iex
.vscode

